body{
    font-family:sans-serif;
    padding: 20px;
    
    /* background-color: #b5cf2d; */
    cursor: url('flower_cursor.png'), auto; /*can edit cursor*/
    background-image:url('grass4.png');

}
header{
    max-width:900px;
    margin: 0 auto; /* To center the section horizontally */
    padding-top: 1rem;/* Inside padding */
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}
h1{
    font-family:'Palette Mosaic',sans-serif; /*attempting to add google font to site*/
    font-size:100px;
    margin-top:0;
    margin-bottom:2rem;
    border:dotted;
    padding-top: 1rem;/* Inside padding  WHAT IS REM?? EDIT SIDES TO BE SMALLER*/
    padding-right: .2rem;
    padding-bottom: 1rem;
    padding-left: .25rem;
    background-image:url('grass5.png');
}
h2{
    font-size:40px;
    /* color:rgb(122, 68, 54); */
    color:#7a4436;
    margin-top:0;
    
}
h1,h2,p, a{ /*a element isnt moving to center...*/
    text-align:center;
}
h2,p,a{
    font-family:'Gamja Flower',sans-serif;
}
p,a{
    font-size:30px;
}
a{
    color:green; /*change with color of background edit */
    display:block;
    text-align:center;
    margin-top:1rem;
    /*CHANGE so that hover is ONLY OVER the link not around it*/
}
.description{
    max-width:900px;
    margin:0 auto;
    /* background-color: #b5cf2d; */
    background-image:url('paperboard-texture.jpg');
    padding-top: 1rem;
    padding-right: .5rem;
    padding-bottom: 1rem;
    padding-left: .5rem;

}
.short{
    margin-top:0;
    margin-bottom:0;
    padding:0;
    line-height:.8;
}
a:hover{
    color:goldenrod;
    cursor: url('flower_cursor.png'), auto; /* while hovering, maintain flower*/
}
a:active{
    color:yellowgreen;
}
a:visited{
    color:purple;
}
section {
    padding-top: 1rem;/* Inside padding */
    padding-right: .5rem;
    padding-bottom: 1rem;
    padding-left: .25rem;
    max-width:500px;
    margin: 1rem auto; /* To center the section horizontally */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); /* Light shadow */
    /* background-color: #b5cf2d; */
    background-image:url('paperboard-texture.jpg');
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width: 200px; /* But no wider than 900px */
    border-radius: 50px; /* Rounded corners */
}
/*FOOTER*/
hr{
    height:2px;
    background-color:#462521;
    border:none;
    border-radius:5px;
}

footer{
    font-size:16px;
    background-color: #b5cf2d;
}
