body{
    font-family:sans-serif;
    padding: 0;
    margin: 0;
    cursor: url('flower_cursor.png'), auto;
    background-image:url('grass4.png');

}

header{
    max-width:900px;
    margin: 0 auto; /* To center the section horizontally */
    padding-top: 1rem;/* Inside padding */
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}
h1{
    font-family:'Palette Mosaic',sans-serif;
    font-size:100px;
    margin-top:1rem;
    margin-bottom:2rem;
    border:dotted;
    padding-top: 1rem;
    padding-right: .2rem;
    padding-bottom: 1rem;
    padding-left: .25rem;
    background-image:url('grass5.png');
}
.bugs{
    margin-left:auto;
    margin-right:auto;
    width: fit-content;
    align-items: center;
}

h2{
    font-size:40px;
    color:#845320;
    margin-top:0;
    
}
h1,h2,p, a{
    text-align:center;
}
h2,p,a{
    font-family:'Gamja Flower',sans-serif;
}
p,a{
    font-size:30px;
}
a{
    color:green;
    display:block;
    text-align:center;
    margin-top:1rem;
    
}

a:hover{
    color:goldenrod;
    cursor: url('flower_cursor.png'), auto; /* while hovering, maintain flower*/
}
a:active{
    color:yellowgreen;
}
a:visited{
    color:green;
}
.description{
    max-width:900px;
    margin:0 auto;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4); /* Light shadow */
    background-image:url('paperboard-texture.jpg');
    padding-top: 1rem;
    padding-right: .5rem;
    padding-bottom: 1rem;
    padding-left: .5rem;

}
.short{
    margin-top:0;
    margin-bottom:0;
    padding:0;
    line-height:.8;
}

section {
    padding-top: 1rem;
    padding-right: .5rem;
    padding-bottom: 1rem;
    padding-left: .25rem;
    max-width:500px;
    margin: 1rem auto; /* To center the section horizontally */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4); /* Light shadow */
    background-image:url('paperboard-texture.jpg');
}
.bee{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 200px;
}

/*FOOTER*/
hr{
    height:2px;
    background-color:#462521;
    border:none;
}

footer{
    font-size:16px;
    background-color: #b5cf2d;
}
